@import "materialize/components/color";
$primary-color: color("grey", "darken-1") !default;
@import 'materialize';
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import "bourbon";
@import "neat";

@media only screen and (min-width: 992px) {
  nav .brand-logo {
    margin-left: 16px;
  }
}

h1.title {
  font-weight: bold;
  font-size: 1.25rem;
}

h2.category-name {
  color: #757575;
  font-weight: bold;
  font-size: 1.0625rem;
}

h2.with-border {
  border-bottom: 1px solid #757575;
  padding-bottom: 8px;
}

table {
  border: 1px solid #d0d0d0;
}

iframe {
  border-width: 0;
  border-style: none;
  border-color: none;
  border-image: none;
}

img.movie {
  margin-top: 16px;
}

.margin-top-minus-16 {
  margin-top: -16px;
}
